<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 footerleft ">
        <div class="logofooter">Book Shop</div>
        <p>There are only three things you need to do to become a multi-platinum, world-conquering ebook tycoon with a fleet of yachts and sales figures that would make James Patterson spit with envy:<br>
          1.Get people to look at your book page<br>
          2.Convert them into a paying customer<br>
          3.Keep them coming back for more</p>
        
      </div>
      <div class="col-md-6 col-sm-6 paddingtop-bottom">
        <h6 class="logofooter">CONTACT ME</h6>
        <ul class="footer-ul">
          <li><a href="https://www.facebook.com/mohsin.ghani.777" target="new">Facebook: mohsinghani.777@gmail.com</a></li>
          <li><a href="http://www.mohsinghanni.base.pk" target="new">Website: www.mohsinghani.base.pk</a></li>
          <li><a>E-mail : mohsinghani.777@gmail.com</a></li>
          <li><a>Phone : +92 3432195645</a></li>
          <li><a>Address: PECHS Block No.1, Karachi Pakistan</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="col-md-12">
      <p>© 2017 - All Rights with Book Shop</p>
    </div>
  </div>
</div>