<app-home-nav></app-home-nav>
<div class="container">
  <div class="alert alert-danger top-alert" role="alert" *ngIf="alert">
  <strong>Attention Please!</strong> Login first for buy our books.
  </div>
<!--<div class="content">-->
<div class="login-form"> 
<div [hidden]="submitted">
<form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
  <h2>Login</h2>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" [(ngModel)]="user.id" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" class="form-control" id="email" name="email" placeholder="email" required>
    <!--Validation Divs For Email-->
    <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
      <div [hidden]="!email.errors.required">Email Address is Required!</div>
      <div [hidden]="!email.errors.pattern">Email is required and format should be mohsin@gmail.com</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="user.password" validateEqual="confirmPassword"  name="password"  reverse="true"  #password="ngModel" class="form-control" id="password" placeholder="password" required>
    <!--Validation Divs For password-->
    <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
      <div [hidden]="!password.errors.required">Password is Required!</div>
    </div>
  </div>

  <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-outline-success">Login</button>
</form>
</div><!--before submitted-->
</div><!--login-->
<!--</div>content-->
</div><!--container-->
